.autocomplete{
    position: relative;
    display: inline-block;
}

.autocomplete-items{
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #d4d4d4;
    max-height: 325px;
    overflow: auto;
}

.autocomplete-items div{
    padding: .2em .5em;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
